@{
    HttpContextAccessor httpContextAccessor = new HttpContextAccessor();
    string rolemessage = httpContextAccessor.HttpContext.Session.GetString("username");
    string eid = httpContextAccessor.HttpContext.Session.GetString("usereid");
    string email = httpContextAccessor.HttpContext.Session.GetString("useremailid");

}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeePortal_UI</title>
    <link rel="stylesheet" href="~/mdb5-free-standard/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="background-color:#ECECF2">
    <header>    <!-- Navbar -->  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">        <!-- Container wrapper -->    
            <div class="container-fluid">            <!-- Toggle button -->    
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">       
                    <i class="fas fa-bars"></i>           
                </button>            <!-- Collapsible wrapper -->    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand mt-2 mt-lg-0 mx-5"  href="https://localhost:7000/Home/LoginAuth?email2=@email">
                        <img src="https://ok12static.oktacdn.com/fs/bco/1/fs055r3ijj5Xaoifk5d7" height="40" alt=" Logo" loading="lazy" />  
                  </a>                <!-- Left links -->                <!-- Left links -->   
                 </div>            <!-- Collapsible wrapper -->            <!-- Right elements -->     
                 <div class="d-flex align-items-center">                <!-- Icon -->                <!-- Notifications -->
                    <a asp-controller="Home" asp-action="Logout">
                        <button type="button" class="btn mx-2" style="border-radius:10px;background-color:#FF9201;"><h style="color:whitesmoke;">Logout</h></button>
                    </a>  
                    <button type="button" class="btn mx-2"><h style="color:#FF9201;">@rolemessage</h></button>
                    <a class=" d-flex align-items-center " href="@Url.Action("Profile",new { id = eid })" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                        <img height="50px" width="50px"  src=" @Url.Action("GetImage", new { id = eid })" style="border-radius:50%;" class="" height="55" alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>         
                  </div>            <!-- Right elements -->     
            
                  </div>        <!-- Container wrapper -->  
                  </nav>
        
        <nav style="background-color:#151566;" class="navbar navbar-expand-lg navbar-light ">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler"
                                               type="button"
                                               data-mdb-toggle="collapse"
                                               data-mdb-target="#navbarSupportedContent"
                                               aria-controls="navbarSupportedContent"
                                               aria-expanded="false"
                                               aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>                 <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <!-- Left links -->
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Notifications -->
                    <div class="dropdown ">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#">Leave</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Benefits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Payroll</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Avatar -->                
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>

        <!-- Navbar -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/mdb5-free-standard/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer style="left: 50%; transform: translateX(-50%); display: block; max-width: 100vw;width:100%;" class="bg-light  text-center text-lg-start position-absolute bottom-0">    <!-- Copyright -->    <div class=" text-center p-3" style="background-color: #151566">        <a class="text-white">@@CEI India - All rights reserved</a>    </div>    <!-- Copyright --></footer>
</html>